.featured-products {
    text-align: center;
    padding: 2rem 0;
    background-color: #f9f9f9;
}

.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    min-width: 100%;
    text-align: center;
    padding: 1rem;
}

.slider-item img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.slider-item p {
    font-size: 1rem;
    color: #555;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #264653;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: #2a9d8f;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
.about-us {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
}
/*about */
.about-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Why Choose Us Section */
.why-choose-us {
    text-align: center;
    padding: 2rem 1rem;
}

.why-choose-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.why-choose-us ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.why-choose-us li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
}

/* Testimonials Section */
.testimonials {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.testimonial {
    margin-bottom: 1.5rem;
}

.testimonial p {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
}

.testimonial h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}